:root {
    --code-color: darkred;
    --code-bg-color: #aaaaaa;
    --code-font-size: 14px;
    --code-line-height: 1.4;
    --scroll-bar-color: black;
    --scroll-bar-bg-color: transparent;
}

pre {
    color: var(--code-color);
    font-size: var(--code-font-size);
    line-height: var(--code-line-height);
    background-color: var(--code-bg-color);
}

.code-block {
    max-height: 100px;
    overflow: auto;
    padding: 8px 7px 5px 15px;
    margin: 0px 0px 0px 0px;
    border-radius: 7px;
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-bg-color);
}


body{
    background-color: #1C1C26;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav {
    padding: 2.4vh 0vw;
    background-color: #333344;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 3;
    height: 7vh;
}
nav div{
    margin: 0vw 4vw;
    padding: 0.75em 5em;
}
nav div:hover{
    cursor: pointer;
}
nav div a{
    text-decoration: none;
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
}
.logo{
    padding: 0em 1em;
    
}
.logo img{
    height: 4.2em;
    width: auto;
}
#current{
    background-color: #FF5BD3;
    border-radius: 15px;
}
.content{
    height: 84vh;
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.side-bar{
    width: 20%;
    height: 90%;
    background-color: #38384B;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side-bar div{
    width: 77%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.side-bar div h1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 300;
    font-family: 'poppins';
    padding: 0 0;
    border-bottom: 2px solid #DDED2E;
}
.side-bar div h2{
    font-size: 1.2em;
    display: block;
    width: 100%;
    font-weight: 700;
    font-family: 'poppins';
    text-align: center;
    padding: 0.5 0.5em;
    margin: 1vh 0;
    margin-top: 2vh;
    
}
.side-bar div h1:hover{
    cursor: pointer;
}
.side-bar div h1 div{
    padding: 0.5em 0.5em;
}
.side-bar div h1 .left{
    width: auto;
    text-align: left;
    padding-left: 2px;
    padding-right: 0;
}
.side-bar div h1 .right{
    width: auto;
    text-align: right;
    padding-right: 2px;
    padding-left: 0;
}
.side-bar div h1 .right img{
    width: 1.2em;
    height: 1.2em;
}
.side-bar div button{
    cursor: pointer;
    width: 90%;
    padding: 0.55em 1.5em;
    background-color: #FF5BD3;
    border: none;
    border-radius: 15px;
    color: white;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 1.2em;
    margin: 5vh 0vh;
}

.tickets{
    width: 68%;
    height: 87%;

    border-radius: 20px;
    overflow-y: scroll;

}
.ticket{
    width: 100%;
    height: 29%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    margin-bottom: 4%;
}
.ticket .colour{
    width: 5%;
    height: 100%;
    background-color: #DDED2E;
    border-radius: 20px 0px 0px 20px;
}
.ticket .colour2{
    width: 5%;
    height: 100%;
    background-color: #11D5E6;
    border-radius: 20px 0px 0px 20px;
}
.colour1{
    color : #DDED2E !important;
}
.colour2{
    color : #11D5E6 !important;
}
.ticket .content{
    
    width: 76%;
    height: 100%;
    background-color: #38384B;
    margin: 0;
    margin-right: 0.4%; 
}
.ticket .price{

    border-radius: 0px 20px 20px 0px;
    width: 17.6%;
    height: 100%;
    background-color: #38384B;
    display: grid;
    place-items: center;
    margin-right: 1%; 
    color: #FF5BD3;
}
.calender{
    width: 100vw;
    height: 93vh;
    background-color: #111120;
    position: absolute;
    top: -93vh;
    z-index: 2;
    overflow-y: scroll;
}
.hidden{
    top: -88.2vh;
}
.visible{
    top: 11.8vh;
    animation: slideIn 0.5s ease-in-out;
}
/* play a animation on visible */

@keyframes slideIn {
    0% {
        top: -88.2vh;
    }
    100% {
        top: 11.8vh;
    }
}

.empty{
    width: 100%;
    height: 15vh;
    display: block;

}
.month{
    width: 60vw;
    margin: 0vw 15vw;
    display: block;

}
.month h2{
    font-family: poppins;
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 4vh;
}
.week{
    width: 100%;
    height: 5vw;
    margin: 2.5vh 0;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.week h2{
    width: 14%;
    height: 3.5vw;
    line-height: 3.5vw;
    
    margin: 0;
    font-size: 1.1em;
    font-family: poppins;
    font-weight: 500;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-align: center;
 
}
.past{
    color: #fff;
    opacity: 0.1;
}
.selected{
    background-color: #FF5BD3;
}
.selected1{
    border-radius: 20px 0 0 20px;
    background-color: #FF5BD3;
}
.selected2{
    border-radius: 0 20px 20px 0;
    background-color: #FF5BD3;
}
.corner2{
    border-radius: 20px 0 0 20px;
}
.corner1{
    border-radius: 0 20px 20px 0;
}
.dropdown{
    width: 100%;
    height: 5vw;
    margin: 2.5vh 0;
    position: absolute;
    top:100%;
}
.ticket .content{
    position: relative;
}
.columns{
    width: 100%;

    display : flex;
    flex-direction: row;
    justify-content: space-between;
}
.time {
    margin-right: 1.5vw;
    margin-top: 1.5vh;
    font-family: poppins;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 3px;
}
.duration{
    margin-right: 1.5vw;
    margin-bottom: 1.5vh;
    font-family: poppins;
    font-size: 1.6em;
    font-weight: 300;
    position: absolute;
}
.airline{
    height: 1.2em;
    width:auto;
    display: inline-block;
    font-family: 'poppins';
    font-weight: 300;

}
.company h1{
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    padding: 0;
    margin-bottom: 0;

}
.company{
    margin-left: 1.5vw;
    margin-bottom: 2.5vh;
    font-size: 1.3em;
    
}
.locs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25vw;
    margin-top: 1.5vh;
    margin-left: 1.5vh;
}
.between{
    height: 25%;
    width: auto;
    margin: 0px 10px;
    transform: scale(0.5);
}
.locs .left{
    text-align: right;
}
.locs .left h1{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.locs .left h2{
    font-size: 1.4em;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.locs .right h1{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.locs .right h2{
    font-size: 1.4em;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.top-right{
    position: absolute;
    top: 0;
    right: 0;
}
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}
.top-left{
    position: absolute;
    top: 0;
    left: 0;
}
.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}

.duration
{
    position: absolute;
    bottom: 0;
    right: 0;
}

